@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.auth {
  background-image: url("./assets/pixelcut-export.jpeg");
  height: 100vh;
  width: 100vw;
  background-size: cover; /* Ajuste la taille pour couvrir tout l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center center; /* Positionne l'image au centre */
  overflow: hidden;
  filter: brightness(0.7);
}

.accueil {
  background-image: url("./assets/presidence.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover; /* Ajuste la taille pour couvrir tout l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center center; /* Positionne l'image au centre */
  overflow: hidden;
  filter: brightness(0.3);

}